* {
    background-color: white;
    font: sans-serif;
}

h1#headerLabel {
    text-align: center;
    width:100%;
    margin: 0 auto;
}

#startUp-table {
    background-color: aliceblue;
    border-radius: 50%;
    border-color: white;
}